.dashboard-adm-container {
  margin-top: 80px;
  display: flex;
  background-color: rgb(238, 238, 238);
  min-height: 80vh;
}
.dashboard-adm-aside {
  min-width: 300px;
  background-color: rgb(26, 26, 64);
}
.dashboard-adm-aside-title {
  display: flex;
  gap: 12px;
  height: 80px;
  padding: 0 20px;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
.dashboard-adm-aside-title-logo {
  display: flex;
  background-color: rgb(252, 192, 25, 1);
  color: rgb(26, 26, 64);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}
.dashboard-adm-aside-title-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: white;
}
.dashboard-adm-aside-title-content-name {
  font-weight: 800;
}
.dashboard-adm-aside-title-content span {
  font-size: 14px;
  font-weight: 500;
}
.dashboard-adm-aside-nav {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0 20px;
}
.dashboard-adm-aside-nav-a {
  display: flex;
  text-decoration: none;
  color: rgb(192, 192, 192);
  gap: 18px;
  padding: 15px 15px;
  font-size: 18px;
  font-weight: 800;
  transition: all 0.2s ease;
}
.dashboard-adm-aside-nav-a.amareloDesactive:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgb(255, 255, 255);
  border-radius: 8px;
}
.dashboard-adm-aside-nav-a.amareloActive {
  background-color: rgb(252, 192, 25, 1);
  color: rgb(0, 0, 0);
  border-radius: 8px;
}

.dashboard-adm-main {
  width: 100%;
  flex-direction: column;
  padding: 60px 50px;
}